(2-title.png) Exercise 2: Create markdown cell with title of the notebook
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

(3-intro.png) Exercise 3 - Create a markdown cell for an introduction
Write an introductory sentence about the notebook such as the follows: 
In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

(10-objectives.png) Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered
(i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. 
Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

**Objective:**

Make a mental map of the most commonly used tools in Data Science and the entire ecosystem
Items covered:
* Languajes
* Libraries
* Tools
* Arithmetic operations.

(4-dslanguages.png) Exercise 4 - Create a markdown cell to list data science languages
Start the cell with an overview line such as:
Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. And more

(5-dslibraries.png) Exercise 5 - Create a markdown cell to list data science libraries
Add an overview line to the cell like:
Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Pandas
3. Numpy
4. MathPlotLib
5. Seaborn
6. And More

(6-dstools.png) Exercise 6 - Create a markdown cell with a table of Data Science tools
Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

| Data Science Tools |
---------
| VS CODE | 
| Jupyter Lab| 
| Google Colab|

(7-introarithmetic.png) Exercise 7 - Create a markdown cell introducing arithmetic expression examples
Add a line in this cell with H3 style heading with text like:
Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

(8-multiplyandaddintegers.png) Exercise 8 - Create a code cell to multiply and add numbers
In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

(9-hourstominutes.png) Exercise 9 - Create a code cell to convert minutes to hours
In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

In [ ]:
(11-authordetails.png) Exercise 11 - Create a markdown cell to indicate the Author's name
In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

## Autor: ##
Eduardo.

Exercise 12 - Share your notebook through GitHub
Upload your notebook to a public respository on GitHub.
Note : Please keep the GitHub repo link of the notebook handy.
You will need to submit this link as a part of the assignment evaluation.

Exercise 13 -Take a screenshot of the first page of the notebook and save it as 1-notebook.png
Refer to Hands-on Lab: Getting Started with GitHub to upload the downloaded notebook to GitHub. your peers.